@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');
@mixin mobile{
    @media screen and(max-width:450px) {
        @content;
    }
}
html{
    scroll-behavior: smooth;
}
body{

    background-color: black;
    margin:0;
    color:white;
    padding:0;
    
    
    .page1{
        height: 100vh;
    }
    
}
.main-container{
    width: 80%;
    margin: auto;
    /* background-color: blueviolet; */
 margin-top:40px;
 

}
.navbar header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    .logo{
        font-family: 'Montserrat', sans-serif;
        align-self: center;
        h1{
            font-size:2em;
    font-weight: bold;
    @include mobile(){
        font-size: 1em;
    }
        }
    }
}
.nav-closed{
    // display: none;
   height: 0px;
   overflow: hidden;
   
}
nav ul{
    list-style: none;
    display: flex;
    /* margin: 10px; */
    margin-top:25px;
    @include mobile(){
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 50%;
        z-index: 20;
        background-color: salmon;
        width: 100%;
        margin: 0;
        padding: 0;
        top: 35%;
        transform: translate(-50%,-50%);
        height: 44vh;
        align-items: center;
    justify-content: space-around;
     }
     
    align-content: center;
    li a{
        margin-left:20px;
        padding:10px;
          text-decoration: none;
          font-size:1.2em;
          font-family: 'Montserrat';
        color:white;
        font-weight: 600;
        &:active{
            color: red;
        }
       &:hover{
           animation: navanime 1s infinite;
       }
    }
}
@keyframes navanime{
    from{
        border-bottom: 2px solid salmon;
    }
    to{
        border-bottom: 2px solid red;
    }
}
.text{
    margin:5em;
    @include mobile(){
        margin: auto;
    }
    h4 {
        font-size: 2em;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 2px;
        @include mobile(){
            font-size: 24px;
        }
        span{
            color:salmon;
            font-weight: bolder;
            font-size:1.25em;
        }
    }
    p{
        font-size: 1.4em;
        line-height: 35px;
        font-family: 'Roboto',sans-serif;
        letter-spacing: 2.5px;
        @include mobile(){
            font-size: 18px;
    
    letter-spacing: 0.8px;
    line-height: 28px;
    font-weight: 200;

        }
    }
}
.icons{
    // background-color: red;
    
    font-size: 2.5rem;
    width:50vw;
    display: flex;
    justify-content: space-evenly;
    @include mobile(){
        width: 100%;
        margin: auto;
    }
    .fa{
        padding:15px 20px;
        color: white;
        border-radius: 5px;
        // background-color: red;
        &:hover{
            color: black;
            background-color: white;
        }
    }
}
.profile-img{
    
    @include mobile(){
        display: flex;
        justify-content: center;
    }
}
.profile-img img{
    width:400px;
    height:400px;
    margin-top: 3em;
    margin-right: 120px;
    @include mobile(){
        width: 300px;
        height: 300px;
        margin: 20px 0 0 0;
       border-radius: 50%;
    }
    }
    .main-info-section{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
      /* background-col+9or: red; */
      @include mobile(){
        display: flex;
        flex-direction: column-reverse;
        padding: 20px 0;
      }
    }
    #about{
        height: 96vh;
        margin: auto;
        // background-color: red;
        padding: 2vh 30px;
        h1{
            font-family: 'Montserrat';
            font-size: 3rem;
            @include mobile(){
                font-size: 35px;
            }
        }
        .about-me-info{
            // background-color: red;
            padding: 20px 0px;
            ul{
                list-style: none;
                @include mobile(){
                    padding: 0;
                }
                 li{
                     font-size: 1.5rem;
                     font-family: sans-serif;
                     margin-bottom: 10px;
                     letter-spacing: 1px;
                     line-height: 2rem;
                     @include mobile(){
                         font-size: 1.25em;
                     }
                 }
            }
        }
    }
    .contact{
        height: 96vh;
        padding: 2vh 0;
        h1{
            font-family: 'Montserrat';
            font-size: 3rem;
            text-align: center;
        
        }
        form{
            width: 50%;
            margin: auto;
        //  background-color: red;
         padding: 30px;
            display: flex;
            flex-direction: column;
            @include  mobile(){
                width: 90%;
                padding: 0px;
            }
            input[type="text"],input[type="email"],textarea
            {
                margin-bottom: 20px;
                padding: 15px 10px;
                font-size:16px;
                border: none;
               background-color: rgb(212, 75, 57);
               color: white;
                border-radius: 10px;
                outline: none;
                &::placeholder{
                    color: white;
                    opacity: 0.5;
                }
            }
            .success,.error{
                font-family: 'Roboto',sans-serif;
                font-size:20px;
                color: rgb(127, 230, 127);
                text-align: center;
            }
 .error{
     color:rgb(255, 65, 65);
 }
            input[type="submit"]
            {
                cursor:pointer;
                width: 10vw;
                margin: auto;
                padding: 15px 10px;
                color: black;
                background-color: rgb(46, 154, 226);
                border-radius: 5px;
                border:none;
                font-size:20px;
                @include mobile(){
                    width: 34vw;
                }
            }
        }
    }
    footer{
       height: 10vh;
    background-color: #999;  
    padding: 10px 30px 20px 0px;
    color: #000;
    // padding-bottom: 100px;
p{
    font-size: 20px;
    margin-left:20px;
} 
}
.gallery{
    height: 100vh;
    padding: 0px 10px;
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
    
   h1{
    font-family: 'Montserrat';
    // background-color: green;
    width: fit-content;
    font-size: 3rem;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
    border-bottom: 2px solid red; 
    
   }
   span{
       position: absolute;
       font-size: 50px;
      
   }
   #leftarrow{
      position: absolute;
      top: 50%;
      left:10%;
      
      padding:5px 10px;
      border-radius: 5px;
    //   background-color: red;
      &:hover{
          background-color: white;
          color: black;
      }
      @include mobile(){
        font-size: 35px;
        background-color: rgba(0, 0, 0, 0.719);
    }
   }
//    background-color: red;
   h4{
       font-size: 20px;
    text-align: center;
    font-family: 'Roboto';
    // margin-top: 50px;
    z-index: 10;
   }
   #rightarrow{
    position: absolute;
    top: 50%;
    right:10%;
    padding:5px 10px;
    border-radius: 5px;
    &:hover{
        background-color: white;
        color: black;
    }
    @include mobile(){
        font-size: 35px;
        background-color: rgba(0, 0, 0, 0.719);
    }
 } 
  
    
 div{
    //  background-color: blue;
     height: 600px;
     width: 700px;
     margin: auto;
     overflow: hidden;
 }
        img{
        margin:auto;
        position: absolute;
        left:50%;
        top:50%;
        margin-top: 50px;
        transform: translate(-50%,-50%);
        height:inherit;
        width:inherit;   
     @include mobile(){
         object-fit: contain;
         margin-top: 0px;
         z-index: -1;;
     }
    }
}

.goToTop{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    background-color: salmon;
    position: sticky;
    padding: 10px;
    top: 70vh;
    left: 85vw;
 text-align: center;
 z-index:10;
//  overflow: hidden;
// scroll-behavior: smooth;
    #goToTop{
        height: 50px;
        width: 50px;
        font-size: 35px;
        text-decoration: none;
        color: white;
       
    }
}
.hamburger{
   @include mobile(){
    height: 20px;
   width: 20px;
//  background-color: white;
  padding: 5px;
  position: relative;
    left: 75px;
    top: 10px;
    text-align: center;
   .ham-active{
       width: 20px;
       height: 1px;
       position: relative;
      margin-bottom: 2px;
       padding: 2px;
       background-color: white;
       z-index: 1;
       transition: all 1s;
   }
   .ham-stick1,.ham-stick2{
       background-color: white;
       position: relative;
       
       width: 20px;
       height: 1px;
       position: absolute;
       margin-bottom: 2px;
      
   }
   .ham-stick1{
    transform: rotate(45deg);
   }
   .ham-stick2{
       transform: rotate(-45deg);
   }
   .ham-stick3{
       display: none;
   }
   
}
}