@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  margin: 0;
  color: white;
  padding: 0;
}

body .page1 {
  height: 100vh;
}

@media screen and (max-width: 1030px) and (min-width: 889px) {
  body .page1 {
    height: 55vh;
  }
}

.main-container {
  width: 80%;
  margin: auto;
  /* background-color: blueviolet; */
  margin-top: 40px;
}

@media screen and (max-width: 900px) and (min-width: 449px) {
  .main-container {
    width: 90vw;
    overflow: hidden;
    padding-bottom: 25%;
  }
}

.navbar header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.navbar header .logo {
  font-family: 'Montserrat', sans-serif;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navbar header .logo h1 {
  font-size: 2em;
  font-weight: bold;
}

@media screen and (max-width: 450px) {
  .navbar header .logo h1 {
    font-size: 1em;
  }
}

@media screen and (max-width: 900px) and (min-width: 449px) {
  .navbar header .logo h1 {
    font-size: 18px;
  }
}

.nav-closed {
  overflow: hidden;
}

@media screen and (max-width: 450px) {
  .nav-closed {
    height: 0px;
  }
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* margin: 10px; */
  margin-top: 25px;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media screen and (max-width: 450px) {
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    left: 50%;
    z-index: 20;
    background-color: salmon;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 35%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 44vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

nav ul li a {
  margin-left: 20px;
  padding: 10px;
  text-decoration: none;
  font-size: 1.2em;
  font-family: 'Montserrat';
  color: white;
  font-weight: 600;
}

nav ul li a:active {
  color: red;
}

nav ul li a:hover {
  -webkit-animation: navanime 1s infinite;
          animation: navanime 1s infinite;
}

@-webkit-keyframes navanime {
  from {
    border-bottom: 2px solid salmon;
  }
  to {
    border-bottom: 2px solid red;
  }
}

@keyframes navanime {
  from {
    border-bottom: 2px solid salmon;
  }
  to {
    border-bottom: 2px solid red;
  }
}

.text {
  margin: 5em;
}

@media screen and (max-width: 450px) {
  .text {
    margin: auto;
  }
}

@media screen and (max-width: 900px) and (min-width: 449px) {
  .text {
    margin: auto;
    margin-top: 30px;
  }
}

@media screen and (max-width: 1030px) and (min-width: 889px) {
  .text {
    margin-left: 0em;
  }
}

.text h4 {
  font-size: 2em;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
}

@media screen and (max-width: 450px) {
  .text h4 {
    font-size: 24px;
  }
}

@media screen and (max-width: 900px) and (min-width: 449px) {
  .text h4 {
    font-size: 1.4em;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
  }
}

.text h4 span {
  color: salmon;
  font-weight: bolder;
  font-size: 1.25em;
}

.text p {
  font-size: 1.4em;
  line-height: 35px;
  font-family: 'Roboto',sans-serif;
  letter-spacing: 2.5px;
}

@media screen and (max-width: 450px) {
  .text p {
    font-size: 15px;
    letter-spacing: 0.7px;
    line-height: 28px;
    font-weight: 200;
  }
}

@media screen and (max-width: 900px) and (min-width: 449px) {
  .text p {
    font-size: 100%;
    line-height: 153%;
  }
}

.icons {
  font-size: 2.5rem;
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (max-width: 900px) and (min-width: 449px) {
  .icons {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 450px) {
  .icons {
    width: 100%;
    margin: auto;
  }
}

@media screen and (max-width: 1030px) and (min-width: 889px) {
  .icons {
    width: 84vw;
  }
}

.icons .fa {
  padding: 15px 20px;
  color: white;
  border-radius: 5px;
}

.icons .fa:hover {
  color: black;
  background-color: white;
}

@media screen and (max-width: 450px) {
  .profile-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.profile-img img {
  width: 400px;
  height: 400px;
  margin-top: 3em;
  margin-right: 120px;
}

@media screen and (max-width: 450px) {
  .profile-img img {
    width: 300px;
    height: 300px;
    margin: 20px 0 0 0;
    border-radius: 50%;
  }
}

@media screen and (max-width: 900px) and (min-width: 449px) {
  .profile-img img {
    width: 106%;
    height: 69%;
    margin-top: 0em;
  }
}

.main-info-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  /* background-col+9or: red; */
}

@media screen and (max-width: 450px) {
  .main-info-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 20px 0;
  }
}

#about {
  height: 96vh;
  margin: auto;
  padding: 2vh 30px;
}

@media screen and (max-width: 1030px) and (min-width: 889px) {
  #about {
    height: 85vh;
  }
}

#about h1 {
  font-family: 'Montserrat';
  font-size: 3rem;
}

@media screen and (max-width: 450px) {
  #about h1 {
    font-size: 35px;
  }
}

@media screen and (max-width: 900px) and (min-width: 449px) {
  #about h1 {
    font-size: 3em;
    margin-bottom: 15px;
  }
}

#about .about-me-info {
  padding: 20px 0px;
}

@media screen and (max-width: 900px) and (min-width: 449px) {
  #about .about-me-info {
    padding: 5px 0px;
  }
}

#about .about-me-info ul {
  list-style: none;
}

@media screen and (max-width: 450px) {
  #about .about-me-info ul {
    padding: 0;
  }
}

#about .about-me-info ul li {
  font-size: 1.5rem;
  font-family: sans-serif;
  margin-bottom: 10px;
  letter-spacing: 1px;
  line-height: 2rem;
}

@media screen and (max-width: 450px) {
  #about .about-me-info ul li {
    font-size: 1.25em;
  }
}

@media screen and (max-width: 900px) and (min-width: 449px) {
  #about .about-me-info ul li {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 1030px) and (min-width: 889px) {
  #about .about-me-info ul li {
    font-size: 2em;
    margin-bottom: 61px;
    line-height: 1.7em;
  }
}

.contact {
  height: 96vh;
  padding: 2vh 0;
}

.contact h1 {
  font-family: 'Montserrat';
  font-size: 3rem;
  text-align: center;
}

@media screen and (max-width: 900px) and (min-width: 449px) {
  .contact h1 {
    margin-bottom: 0;
    font-size: 2.5em;
  }
}

@media screen and (max-width: 1030px) and (min-width: 889px) {
  .contact h1 {
    font-size: 5em;
  }
}

.contact form {
  width: 50%;
  margin: auto;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 450px) {
  .contact form {
    width: 90%;
    padding: 0px;
  }
}

@media screen and (max-width: 900px) and (min-width: 449px) {
  .contact form {
    padding: 0px;
  }
}

@media screen and (max-width: 1030px) and (min-width: 889px) {
  .contact form {
    width: 95%;
  }
}

.contact form input[type="text"], .contact form input[type="email"], .contact form textarea {
  margin-bottom: 20px;
  padding: 15px 10px;
  font-size: 16px;
  border: none;
  background-color: #d44b39;
  color: white;
  border-radius: 10px;
  outline: none;
}

.contact form input[type="text"]::-webkit-input-placeholder, .contact form input[type="email"]::-webkit-input-placeholder, .contact form textarea::-webkit-input-placeholder {
  color: white;
  opacity: 0.5;
}

.contact form input[type="text"]:-ms-input-placeholder, .contact form input[type="email"]:-ms-input-placeholder, .contact form textarea:-ms-input-placeholder {
  color: white;
  opacity: 0.5;
}

.contact form input[type="text"]::-ms-input-placeholder, .contact form input[type="email"]::-ms-input-placeholder, .contact form textarea::-ms-input-placeholder {
  color: white;
  opacity: 0.5;
}

.contact form input[type="text"]::placeholder, .contact form input[type="email"]::placeholder, .contact form textarea::placeholder {
  color: white;
  opacity: 0.5;
}

@media screen and (max-width: 1030px) and (min-width: 889px) {
  .contact form input[type="text"], .contact form input[type="email"], .contact form textarea {
    font-size: 1.8em;
  }
}

.contact form .success, .contact form .error {
  font-family: 'Roboto',sans-serif;
  font-size: 20px;
  color: #7fe67f;
  text-align: center;
}

@media screen and (max-width: 1030px) and (min-width: 889px) {
  .contact form .success, .contact form .error {
    font-size: 1.8em;
  }
}

.contact form .error {
  color: #ff4141;
}

.contact form input[type="submit"] {
  cursor: pointer;
  width: 10vw;
  margin: auto;
  padding: 15px 10px;
  color: black;
  background-color: #2e9ae2;
  border-radius: 5px;
  border: none;
  font-size: 20px;
}

@media screen and (max-width: 450px) {
  .contact form input[type="submit"] {
    width: 34vw;
  }
}

@media screen and (max-width: 900px) and (min-width: 449px) {
  .contact form input[type="submit"] {
    width: 16vw;
  }
}

@media screen and (max-width: 1030px) and (min-width: 889px) {
  .contact form input[type="submit"] {
    width: 14vw;
    font-size: 2em;
  }
}

footer {
  height: 10vh;
  background-color: #999;
  padding: 10px 30px 20px 0px;
  color: #000;
}

footer p {
  font-size: 20px;
  margin-left: 20px;
}

@media screen and (max-width: 1030px) and (min-width: 889px) {
  footer p {
    font-size: 2em;
  }
}

.gallery {
  height: 100vh;
  padding: 0px 10px;
  overflow: hidden;
  margin-bottom: 30px;
  position: relative;
}

@media screen and (max-width: 1030px) and (min-width: 889px) {
  .gallery {
    height: 87vh;
  }
}

@media screen and (max-width: 900px) and (min-width: 449px) {
  .gallery .smg {
    height: 306px;
  }
}

.gallery h1 {
  font-family: 'Montserrat';
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 3rem;
  text-align: center;
  margin: auto;
  padding-bottom: 10px;
  border-bottom: 2px solid red;
}

@media screen and (max-width: 900px) and (min-width: 449px) {
  .gallery h1 {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 1030px) and (min-width: 889px) {
  .gallery h1 {
    font-size: 5em;
  }
}

.gallery span {
  position: absolute;
  font-size: 50px;
}

.gallery #leftarrow {
  position: absolute;
  top: 50%;
  left: 10%;
  padding: 5px 10px;
  border-radius: 5px;
}

@media screen and (max-width: 1030px) and (min-width: 889px) {
  .gallery #leftarrow {
    left: 0%;
  }
}

.gallery #leftarrow:hover {
  background-color: white;
  color: black;
}

@media screen and (max-width: 450px) {
  .gallery #leftarrow {
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0.719);
  }
}

.gallery h4 {
  font-size: 20px;
  text-align: center;
  font-family: 'Roboto';
  z-index: 10;
}

@media screen and (max-width: 1030px) and (min-width: 889px) {
  .gallery h4 {
    font-size: 2.2em;
  }
}

.gallery #rightarrow {
  position: absolute;
  top: 50%;
  right: 10%;
  padding: 5px 10px;
  border-radius: 5px;
}

.gallery #rightarrow:hover {
  background-color: white;
  color: black;
}

@media screen and (max-width: 1030px) and (min-width: 889px) {
  .gallery #rightarrow {
    right: 0%;
  }
}

@media screen and (max-width: 450px) {
  .gallery #rightarrow {
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0.719);
  }
}

.gallery div {
  height: 600px;
  width: 700px;
  margin: auto;
  overflow: hidden;
}

.gallery img {
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: 50px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: inherit;
  width: inherit;
}

@media screen and (max-width: 450px) {
  .gallery img {
    -o-object-fit: contain;
       object-fit: contain;
    margin-top: 0px;
    z-index: -1;
  }
}

@media screen and (max-width: 900px) and (min-width: 449px) {
  .gallery img {
    height: 69%;
    width: 51%;
    top: 57%;
  }
}

.goToTop {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  background-color: salmon;
  position: -webkit-sticky;
  position: sticky;
  padding: 10px;
  top: 70vh;
  left: 85vw;
  text-align: center;
  z-index: 10;
}

@media screen and (max-width: 450px) {
  .goToTop {
    display: none;
  }
}

@media screen and (max-width: 900px) and (min-width: 449px) {
  .goToTop {
    display: none;
  }
}

@media screen and (max-width: 1030px) and (min-width: 889px) {
  .goToTop {
    width: 80px;
    height: 80px;
    top: 101vh;
  }
}

.goToTop #goToTop {
  height: 50px;
  width: 50px;
  font-size: 35px;
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 1030px) and (min-width: 889px) {
  .goToTop #goToTop {
    height: 90px;
    width: 90px;
    font-size: 4em;
  }
}

@media screen and (max-width: 450px) {
  .hamburger {
    height: 20px;
    width: 20px;
    padding: 5px;
    position: relative;
    left: 75px;
    top: 10px;
    text-align: center;
  }
  .hamburger .ham-active {
    width: 20px;
    height: 1px;
    position: relative;
    margin-bottom: 2px;
    padding: 2px;
    background-color: white;
    z-index: 1;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .hamburger .ham-stick1, .hamburger .ham-stick2 {
    background-color: white;
    position: relative;
    width: 20px;
    height: 1px;
    position: absolute;
    margin-bottom: 2px;
  }
  .hamburger .ham-stick1 {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .hamburger .ham-stick2 {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .hamburger .ham-stick3 {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */